@font-face {
    font-family: 'Comfortaa Regular';
    src: url('https://test.ukey.net.ua:3020/plugin/fonts/Comfortaa-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
